/backend/chat/__pycache__
/backend/chat/migrations/__pycache__
/backend/core/__pycache__
/backend/users/__pycache__
/backend/users/__pycache__
.env
/backend/core/__pycache__
/backend/reflections/__pycache__
/backend/core/__pycache__
.env
/backend/core/__pycache__
.env
/backend/core/__pycache__
/backend/core/__pycache__
/backend/core/__pycache__
/backend/reflections/__pycache__
/backend/reflections/migrations/__pycache__
/backend/reflections/__pycache__
